$color-main: #04dbe0;

$box-shadow: 0 0 5px $color-main;
$hover-shadow: 1px 0 38px $color-main;
$title-shadow: 1px 0 38px $color-main, 0 1px 0 #00d2e7;
$text-shadow: 1px 0 18px $color-main, 0 1px 0 #00d2e7;

$font-sci-fi: "Roboto", "Calibri", "Arial", sans-serif;
$font-default: "Open Sans", "Calibri", "Arial", sans-serif;

$border-radius: 4px;
$transition-time: 0.3s;