.hud-wrapper {
	position: fixed;
    inset: 0;
}

.hud {
	position: absolute;
    inset: 0;
}

.mass {
    display: flex;
    align-items: flex-start;
    color: #BFC5D9;
    font-size: 18px;
    line-height: 133%;

    &::before {
        content: url('../public/img/icon-mass.png');
		width: 14px;
		min-height: 22px;
        margin-inline-end: 15px;
    }
}

.chatInput {
    position: absolute;
    left: 10px;
    bottom: 35px;
    width: 300px;
    height: 30px;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-family: "Ubuntu";
    border: 0px;
    outline: none;
    transition: all .5s ease-in-out;
    z-index: 10;

    &:focus {
        background: rgba(0, 0, 0, .5);
    }
}