@import "variables.scss";
@import "mixin.scss";
@import "animations.scss";
@import "globals.scss";
@import "pop-up.scss";

// Components
@import "@components/Header/Header.scss";
@import "@components/StatList/StatList.scss";
@import "@components/PayMethod/PayMethod.scss";
@import "@components/Planet/Planet.scss";
@import "@components/PlanetList/PlanetList.scss";
@import "@components/PlanetDataList/PlanetDataList.scss";
@import "@components/InGameLeaderboard/InGameLeaderboard.scss";
@import "@components/GameProgressTimer/GameProgressTimer.scss";
@import "@components/DeploymentModal/DeploymentModal.scss";

// Pages
@import "page-dashboard.scss";
@import "page-leaderboard.scss";
@import "page-hud.scss";
